@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap');


.page1{
margin: 0;
padding: 0px;
align-items: center;
  border: 1px solid rgb(230, 48, 48); display: flex;
}

.content{
  height: 500px;
  
  border: 0px solid black; 
  animation: moveright 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  margin: 40px;
  animation-fill-mode: forwards;
}


.conimg {
  border: 0px solid rgb(53, 61, 123);
  height: 500px;
  margin: 40px;
  text-align: center;
  align-items: center;
  animation: moveleft 1s linear 1;
  animation-delay: 1.6s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.conimg img {
  object-fit: cover;
  height: 450px;
  transition: 0.2s linear box-shadow;
  transform: rotate(0deg) translateY(-10px);
}

@keyframes float {
  0% {
    transform: rotate(0deg) translateY(-18px) rotate(0deg);
  }
  50% {
    transform: rotate(180deg) translateY(-19px) rotate(-180deg);
  }
  100% {
    transform: rotate(360deg) translateY(-18px) rotate(-360deg);
  }
}



.conimg img {
  animation: float 2s infinite linear;
}

@keyframes moveleft {
  0% {
    transform: translateX(100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }}
.content h1{
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3a489e;
}

.content p{

    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  color: rgb(10, 25, 39);
}
.myButton a,.myButton{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
 
  border: 3px solid  #50a2cb9f;
  color: #2f60a0;

  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Style changes when hovering over the button */
.myButton:hover {
  color: white;
  background-color: #089be4;
  border: 0px solid  #089be4;
 
  
}

.page2{
  margin: 0;
  padding: 10px 20px;
  height: 90px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color:#0f5181d6;
    border: 1px solid rgb(230, 48, 48); display: flex;
  }
  .page2 div,.page2 ul{
    border: 0px solid white;
    height:140px;
    width: 230px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
  }
  .page2 div img{

    border-radius: 50%;
    border: 2px solid;
  }

  

  
*{
  margin: 0;
  padding: 0;
}
body{
margin: 2px 5px;
padding: 5px;

}
 /* Navbar styles */
 .navbar {
  background-color: #faf5f5d4;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 10px 60px;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px #0e397e73;
  font-family: 'Kanit', sans-serif;
}

.navbar ul {
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar li {
  list-style: none;
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: rgb(87, 139, 192);
  font-size: 18px;
  gap: 20px;
  font-weight: 1000;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: rgba(28, 46, 119, 0.987);
}

/* Styles for the dropdown */
.navbar .dropdown {
  display: none;
  position: absolute;
  background-color: #fefefe9a;
  box-shadow: 0 2px 5px #0e397e73;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 190px 120px;
}

.navbar .dropdown li {
  margin: 0;
 
}

.navbar .dropdown a {
  color: rgb(87, 139, 192);
}

.navbar .dropdown a:hover {
  color: rgba(28, 46, 119, 0.987);
}

/* Show the dropdown on hover */
.navbar li:hover .dropdown {
  display: block;
  margin: 0PX 0px;
}

.navbar img {
  max-width: 50px;
  height: auto;
  border-radius: 10%;
}


/* language section */
.page3 lang {
  width: calc(10% - 10px); /* 25% width with some spacing (adjust as needed) */
  margin-bottom: 10px; /* Spacing between boxes (adjust as needed) */
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
 
  width: 700PX;
  justify-self:center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.page3{
  border: 2px solid red;

  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
      align-items: center;
    }
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.image-item {
  flex: 0 0 calc(25% - 20px); /* Four items in a row with some spacing */
 border: 0px solid black;

 padding: 10px 0px;
  overflow: hidden;
align-items: center;
  box-shadow: 0 4px 8px rgba(174, 164, 164, 0.1);
  text-align: center;
}

.image-item img {

  height: 90px;
border : px solid #0e397e;
  border-radius: 60%;
}

.image-caption {
  margin-top: 8px;
  font-family: 'Kanit', sans-serif;
}
.page3 h1{
  font-family: 'Kanit', sans-serif;
  color: #0e397e;

}
.content ul li{
color: #5a6577;
  list-style: none;
  font-family: 'Kanit', sans-serif;
}
.content h2{

font-family: 'Kanit', sans-serif;
}


/**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #0e397ef3;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #f9fafc;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #1ebde9;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #f8f4f453;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

/**/
.vmabout{
margin: 20px 20px;
padding: 10px 10px;
  border: 2px solid black;
  height:900px;
  display: flex; 
   justify-content: center;
  text-align: center;
  align-items: center;
  gap:80px
}

.vmabout div{
 width: 600px;

  border: 3px solid red;
}

/* image slider*/
.carousel-container {
  position: relative;
  width: 1000px;
  background-color: #089be432;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* Set the height as needed */
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease;
  justify-content: center;
}

.image-container {
  width: 100%;
  box-sizing: border-box;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  border: 12px solid #2273c409;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}


/* about section*/

.introabout{
  border: 0px solid black;
  height: 700px;
  display: flex;

       justify-content: center;    
  margin: 10px 10px;
  padding: 10px 10px;

  }

  .content-about{
    border: 0px solid red;
    border-radius: 20px;
    background-color: #74ccec18;
    height: 480px;
    object-fit: cover;
   width: 550px;
   margin: 10px 10px;
   padding: 10px 10px;
       animation: moveright 2s linear 1;
       animation-delay: 2s;
       text-align: justify;
       visibility: hidden;
       animation-fill-mode: forwards;
       width: 50%;
       box-sizing: border-box;
  }
  .content-about2{
    border: 0px solid red;
   
    object-fit: cover;
   width: 480px;
   margin: 10px 10px;
   padding: 10px 10px;
   text-align: justify;
       animation: moveleft 2s linear 1;
       animation-delay: 2s;
       
       visibility: hidden;
       animation-fill-mode: forwards;
     
       box-sizing: border-box;
  }

  .image-about{
    object-fit:none;
    box-sizing: border-box;
    margin: 10px 10px;
  padding: 10px 10px; border: 0px solid red;
width: 550px; animation: float 5s infinite linear;
    
  }
.image-about img{
 height:400px;
  height: 70%;
  object-fit: cover;
 border: 0px solid red;
  
    animation: zoomin 0.6s linear 1;
    animation-delay: 1s;
    
    visibility: hidden;
    animation-fill-mode: forwards;
 }
 @keyframes zoomin {
  0%{
       transform: scale(0.5);
       visibility: visible;
  }
  100%{
    transform: scale(1);
    visibility: visible;
  }
  
 }
/* contact css*/
 .contact{
border: 2px solid red;
max-height: fit-content;

margin: 0px 0px;
padding: 20px;

 }
 .contact-1{
  border: 2px solid rgb(15, 14, 14);
  height: 500px;
 margin: 10px;
 text-align: center;
 justify-content: center;
  display: flex;
  padding: 10px;
  align-items: center;
  gap:40px;
   }
.contact-text h1,.contact-text P{
justify-content: left;
text-align: left;
width: 300PX;
align-content: left;
align-items: left;
}
.contact-image img{

height: 390px;
}
.contact-phone{
  align-items: center;
  border:0px solid red;
  box-shadow: 2PX 2PX 3PX #120fc72b;
  height: 250px;
  background-color: #089be41d;
  border-radius: 20PX;
  width: 250px;
}

/*contact form*/
.contact-form {
  width: 450px;
  text-align: left;
  padding: 30px;
  background-color: #f9f9fa21;
  box-shadow: 0 0 3330px rgba(20, 46, 196, 0.16);
  border-radius: 10px;
}

.contact-form h2 {
  text-align: center;
  color: #333333;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: #555555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #11379818;
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
}

.contact-form button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  text-align: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #0056b3;
}

















